<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BagShop - Home </title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
    <h1 class="logo">BagShop</h1>
        <nav class="nav">
        <a href="index.html">Home</a>
        <a href="products.html">Products</a>
        <a href="cart.html">Cart</a>
        <a href="contact.html">Contact</a>
    </nav>
</header>
<section class="hero">
    <h2>Welcome to BagShop</h2>
    <p>Your best place to find stylish bags</p>
    <a href="products.html" class="btn">Shop Now</a>
</section>
 <section class="preview">
    <h2>Featured Bags</h2>

    <div class="products">

        <div class="card">
            <img src="imags/bag1.webp" alt="Bag 1">
            <h3>Elegant Black Bag</h3>
            <p>$50</p>
        </div>


        <div class="card">
            <img src="imags/bag2.jpg" alt="Bag 2">
            <h3>Classic Brown Bag</h3>
            <p>$65</p>
        </div>

        <div class="card">
            <img src="imags/bag3.webp" alt="Bag 3">
            <h3>Mini colored Bag</h3>
            <p>$40</p>
        </div>

    

    </div>
</section>
<footer>
    <p>© 2026 BagShop. All rights reserved.</p>
</footer>

</body>
</html>